.table {
  width: 100%;

  padding: 10px;
  margin: 16px auto 0;

  border-radius: 15px;
  background-color: #eee;

  font-family: sans-serif;
}

thead th {
  height: 40px;

  font-size: 18px;
}

tbody tr:nth-child(2n-1) {
  background-color: #ddd;
}
th, td {
  text-align: center;
}

.type {
  text-align: left;
}

.amount, .currency {
  text-align: right;
}